/* styling de violet*/
#cuda
{
	background: #87509c;
	height: 300px;
}
#cuda img
{
	padding-top: 20px;
	margin-left: 100px;
}
#cuda ul li
{
	list-style-type: none;
	color: white;
	float: right;
	margin-right: 15px;
}
#cuda p
{
	color: white;
	text-align: center;
	font-size:x-large;
	padding-top: 30px;
}
p span
{
	color: white;
	background: #eb7d4b;
	border color: #eb7d4b solid 2px;
	padding: 10px;
	font-size: x-small;
}

/* styling de services*/
#services
{
	background: #17c2a4;
	overflow: hidden;
}
#services h1
{
	text-align: center;
}
#services p
{
	color: white;
	text-align: center;
}
.icons img
{
	float: left;
	padding-top: 4px;
	padding-left: 60px;
	margin-left: 100px;
}
.titre h1
{
	color: white;
}

/* styling de team*/
#team
{
	background: #e7f1f8;
	overflow: hidden;
}
#team h1
{
	text-align: center;
}
.blabla img
{
	padding: 7px;
	margin-left: 70px;
}

/* styling de skilss*/
#skills
{
	background: #ffffff;
	overflow: hidden;
}
#skilss h1
{
	text-align: center;
}
#skills div p
{
	text-align: center;
	font-size: small;
}
.niveau
{
	padding-left: 250px;
	margin-left: 80px; 
	display: inline-block;
}

/* styling de port*/
#port
{
	background: #ffdd99;
	overflow: hidden;
}
# port h1
{
	text-align: center;
}
#port div p
{
	text-align: center;
	color: black;
}
.entete li
{
	display: inline-block;
	list-style-type: none;
	margin-left: 50px;
	padding-left: 90px;  
}
.computer img
{
	padding: 40px;
}

/* styling de poeple*/
#people
{
	background: #d74680;
	overflow: hidden;
}
#people h1
{
	text-align: center;
	color: white;
}
#people p
{
	text-align: center;
	font-size: medium;
	color: white;
}
.pointe img
{
	padding: 30px;
	margin-right: 40px;
}

/* styling de get*/
#get
{
	background: #3c5499;
	overflow: hidden;
}
#get h1
{
	text-align: center;
	color: white;
}
#get p span
{
	text-align: center;
	color: white;
}
.liens li
{
	color: white;
	list-style-type: none;
	padding: 8px;
}
.reseaux li
{
	background: #344b8e;
	list-style-type: none;
	display: inline-block;
	margin-left: 70px;
	padding: 8px;
}